ion-grid {
    --ion-grid-padding: 0px;
}
ion-icon, ion-footer {
    transition: 0.25s;
}
ion-header {
    ion-title {
        padding-inline-start: 1em;
      padding-inline-end: 1em;
      text-align: left !important;
    }
    
    ion-toolbar {
        --background: #0136b1;
        --color: #fff;
        position: fixed;
        top: 0px;
        z-index: 99;
    }
}
ion-footer {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background: rgba(17, 17, 17, 0.767);

    ion-col {
        color: #fff;
    }

    #message-input {
        position: relative;
        left: 1em;
        display: inline-block;
    }
    #send-button {
        position: relative;
        right: 1em;
        display: inline-block;
        --background: #0136b1;
    }
}

   #audio-input {
    position: relative;
    top: 12.5px;
  }
  #audio-input::file-selector-button {
    content: 'Select some files';
    display: inline-block;
    height: 36px;
    background: #f5d806;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

.initial-message {
    background: #faf1ab;
    box-shadow: 1px 1px 5px #999;
    height: auto;
    width: 18rem;
    padding: 0.75em;
    border-radius: 5px;
    margin: 0 auto !important;
    animation: initial-chat-message-slide-down 0.5s ease-out forwards;
}
@media screen and (min-width: 500px) {
    .initial-message {
        width: 30rem;
      }
    }
.about-creator-propic {
    border-radius: 100px;
    height: 6.25rem; width: 6.25rem;
}
.about-creator-text {
    font-size: 0.85em;
}
@keyframes initial-chat-message-slide-down {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
}

.chat-wrapper {
    padding: 5em 0.5em;
}
.chat-wrapper-images {
    padding: 5em 0em;
}
.ai-desc {
    font-size: 0.8em;
}
.model {
    padding-bottom: 1em;

    .name{
        font-size: 1.2em;
        color: #0136b1;
    }
    .created{
        font-size: 0.75em;
    }
    .owned-by{
        font-size: 0.75em;
    }
}