<ion-app>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button size="large" style="opacity: 1;" #changeChatTextButton (click)="this.openAIService.changeChatText(changeChatTextButton, changeChatImageButton)">
          <ion-icon color="light" name="text-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" style="opacity: 0.5;"  #changeChatImageButton (click)="this.openAIService.changeChatImage(changeChatTextButton, changeChatImageButton)">
          <ion-icon color="light" name="image-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content #ionContent [scrollEvents]="true">
    <!-- Text Chat -->
    <ion-row *ngIf="this.openAIService.chatType == 'text'" class="chat-wrapper ion-justify-content-center">
      <div 
        *ngIf="this.openAIService.messages.length == 0"
        class="initial-message">
          <p>Start chatting by sending a message.</p>
      </div>

      <ion-col size-xs="12" size-sm="11" size-md="8" size-lg="6">
          <!-- Custom Angular Component (chat-message component) -->
          <!-- <img src="{{this.openAIService.image}}" alt="" srcset=""> -->
          <app-chat-message
            *ngFor="let message of this.openAIService.messages"
            [message]="message.text"
            [date]="message.date"
            [isAI]="message.isAI">
          </app-chat-message>
      </ion-col>
    </ion-row>

    <!-- Image Chat -->
    <ion-row *ngIf="this.openAIService.chatType == 'image'" class="chat-wrapper ion-justify-content-center">
      <div 
        *ngIf="this.openAIService.images.length == 0"
        class="initial-message">
          <p>Generate an image by sending a message.</p>
      </div>

      <ion-col size-xs="12" size-sm="11" size-md="8" size-lg="6">
        <app-chat-image
          *ngFor="let image of this.openAIService.images"
          [url]="image.url"
          [message]="image.message"
          [date]="image.date"
          [isAI]="image.isAI">
        </app-chat-image>
      </ion-col>
    </ion-row>
  </ion-content>

  <ion-footer>
    <ion-row>
      <ion-col size="10">
        <ion-input 
          id="message-input"
          #messageInput
          type="text" 
          placeholder="Send A Message"
          >
        </ion-input></ion-col>
      <ion-col class="ion-text-right" size="2">
        <ion-button 
          id="send-button"
          *ngIf="this.openAIService.chatType == 'text'"
          (click)="this.openAIService.sendMessageText(messageInput, ionContent)">
          <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-button 
          id="send-button"
          *ngIf="this.openAIService.chatType == 'image'"
          (click)="this.openAIService.sendMessageImage(messageInput, ionContent)">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-app>