<ion-app>
  
  <ion-header>
    <ion-toolbar>
      <ion-title >{{title}}</ion-title>
      <ion-buttons slot="end">
        <!-- Text Chat -->
        <ion-button  (click)="this.openAIService.changeChatText(messageInput, audioInput, changeChatTextButton, changeChatImageButton, changeChatAudioButton, changeToInfoPageButton, ionFooter)">
          <ion-icon size="large" #changeChatTextButton style="color: #f5d806; border-bottom: #f5d806 2px solid;" name="text-outline"></ion-icon>
        </ion-button>
        <!-- Image Chat -->
        <ion-button (click)="this.openAIService.changeChatImage(messageInput, audioInput, changeChatTextButton, changeChatImageButton, changeChatAudioButton, changeToInfoPageButton, ionFooter)">
          <ion-icon size="small"  #changeChatImageButton name="image-outline"></ion-icon>
        </ion-button>
        <!-- Translation -->
        <ion-button (click)="this.openAIService.changeChatAudio(messageInput, audioInput, changeChatTextButton, changeChatImageButton, changeChatAudioButton, changeToInfoPageButton, ionFooter)">
          <ion-icon size="small"  #changeChatAudioButton name="mic-outline"></ion-icon>
        </ion-button>
        <!-- Info Page -->
         <ion-button (click)="this.openAIService.changeToInfoPage(messageInput, audioInput, changeChatTextButton, changeChatImageButton, changeChatAudioButton, changeToInfoPageButton, ionFooter)">
          <ion-icon size="small" #changeToInfoPageButton  name="information-circle-outline"></ion-icon>
        </ion-button> 
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content #ionContent [scrollEvents]="true">
    <!-- Text Chat -->
    <ion-row *ngIf="this.openAIService.chatType == 'text'" class="chat-wrapper ion-justify-content-center">
      <div 
        *ngIf="this.openAIService.messages.length == 0"
        class="initial-message">
          <p>Start chatting with 😎 <b>Alfred</b> by sending a message.</p>
      </div>

      <ion-col size-xs="12" size-sm="11" size-md="8" size-lg="6">
          <!-- Custom Angular Component (chat-message component) -->
          <!-- <img src="{{this.openAIService.image}}" alt="" srcset=""> -->
          <app-chat-message
            *ngFor="let message of this.openAIService.messages"
            [message]="message.message"
            [date]="message.date"
            [isAI]="message.isAI">
          </app-chat-message>
      </ion-col>
    </ion-row>

    <!-- Image Chat -->
    <ion-row *ngIf="this.openAIService.chatType == 'image'" class="chat-wrapper-images ion-justify-content-center">
      <div 
        *ngIf="this.openAIService.images.length == 0"
        class="initial-message">
          <p>Generate an image by sending a message.</p>
      </div>

      <ion-col size-xs="12" size-sm="11" size-md="8" size-lg="6" style="padding: 0;">
        <app-chat-image
          *ngFor="let image of this.openAIService.images"
          [imageDataURL]="image.imageDataURL"
          [imageBlob]="image.imageBlob"
          [message]="image.message"
          [date]="image.date"
          [isAI]="image.isAI">
        </app-chat-image>
      </ion-col>
    </ion-row>

    <!-- Audio Chat -->
    <ion-row *ngIf="this.openAIService.chatType == 'audio'" class="chat-wrapper ion-justify-content-center">
      <div 
        *ngIf="this.openAIService.translations.length == 0"
        class="initial-message">
          <p>Upload an Audio file to translate it's audio to English.<br>
            * mp3, mp4, mpeg, mpga, m4a, wav, or webm.
          </p>
      </div>

      <ion-col size-xs="12" size-sm="11" size-md="8" size-lg="6">
        <app-chat-translation
          *ngFor="let text of this.openAIService.translations"
          [filename]="text.filename"
          [message]="text.message"
          [date]="text.date"
          [isAI]="text.isAI">
        </app-chat-translation>
      </ion-col>
    </ion-row>

    <!-- Info Page -->
    <ion-row *ngIf="this.openAIService.chatType == 'info'" class="chat-wrapper ion-justify-content-center">

      <ion-col size-xs="12" size-sm="11" size-md="8" size-lg="6">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>App Information</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p class="about-creator-text">This App was created with the objective of learning the OpenAI API.<br><br>
                <b>Text Chat is powered by GPT 3.5-Turbo</b><br><br>
                <b><span style="padding-right: 0.5rem;"><ion-icon name="logo-angular"></ion-icon></span>Angular 14</b><br>
                <b><span style="padding-right: 0.5rem;"><ion-icon name="logo-ionic"></ion-icon></span>Ionic 7</b><br>
                <b><span style="padding-right: 0.5rem;"><ion-icon name="logo-nodejs"></ion-icon></span>Node 18</b><br>
              </p>
              <a href="https://github.com/eddietal2/open-ai">Github Repository for this App</a>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>About Creator</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-row class="ion-justify-content-center">
                <ion-col size="11">
                  <div class="ion-text-center">
                    <img class="about-creator-propic" src="../assets/images/propic.jpeg" alt="Eddie Taliaferro II Profile Picture">
                  </div>
                  <p class="about-creator-text"><b>Eddie Taliaferro II</b> is a driven entrepreneur, Co-founder and CEO of Final Boss Studios, a dynamic startup attempting to "evolutionize" the world of gaming and interactive entertainment. 
                    <br><br>With a diverse background as a Tech Educator for five years and extensive experience as a skilled software developer and designer, Eddie combines his passion for technology and education to lead his team in creating innovative and immersive gaming experiences.</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>What is an OpenAI AI Model?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p class="ai-desc">An OpenAI model, like GPT-3, is an artificial intelligence system trained on vast amounts of text data from the internet. It can understand and generate human-like text, making it useful for tasks such as answering questions, engaging in conversations, and creating content. While powerful, these models have limitations and their responses should be critically evaluated for accuracy and bias.</p>
              <p style="color: #999; font-size: 0.8em">Description created with GPT 3.5</p>
              <b>Below are different kinds of AI Models, similar to the GPT3 Model used in ChatGPT</b>
              <div class="model" *ngFor="let i = index; let model of this.openAIService.models">
                <hr style="border-bottom: #999 solid 1px;">
                <p class="name">{{i}} - {{model.id}}</p>
                <p class="created">Created on: {{model.created}}</p>
                <p class="owned-by">Owned by: {{model.owned_by}}</p>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>

      </ion-col>
    </ion-row>
  </ion-content>

  <ion-footer #ionFooter>
    <ion-row>
      <ion-col size="10" style="padding-right: 1em;">
        <ion-input 
          #messageInput
          type="text"
          placeholder="Send a Message"
          >
        </ion-input>
        <input
          style="display: none;" 
          id="audio-input"
          #audioInput
          type="file"
          (change)="this.openAIService.tappedAudioInput($event)"
          placeholder="Select Audio"
          >
      </ion-col>
      <ion-col class="ion-text-right" size="2">
        <ion-button 
          id="send-button"
          *ngIf="this.openAIService.chatType == 'text'"
          (click)="this.openAIService.sendMessageText(messageInput, ionContent)">
          <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-button 
          id="send-button"
          accept="image/png, image/jpeg"
          *ngIf="this.openAIService.chatType == 'image'"
          (click)="this.openAIService.sendMessageImage(messageInput, ionContent)">
          <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-button 
          id="send-button"
          *ngIf="this.openAIService.chatType == 'audio'"
          (click)="this.openAIService.sendMessageAudio(audioInput, ionContent)">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-app>