ion-grid {
    --ion-grid-padding: 0px;
}
ion-header {
    
    ion-toolbar {
        --background: #0136b1;
        --color: #fff;
        position: fixed;
        top: 0px;
        z-index: 99;
    }
}
ion-footer {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background: #fff;

    ion-buttons {
        #message-input {
            position: relative;
            left: 1em;
        }
        #send-button {
            position: relative;
            right: 1em;
        }
    }
}