.chat-message-ai {
    background: #fff;
    border-bottom: 1px solid #999;
    color: #0136b1;
    padding: 0.5em;
    border-radius: 5px;
    height: auto;
    opacity: 0;
    animation: image-slide-in-ai 0.5s ease-out 0.5s forwards;
}
.user-type {
  font-size: 0.65em;
  font-weight: 800;
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
}
@keyframes image-slide-in-ai {
    0% {
      transform: translateX(50px);
    }
    100% {
      opacity: 1;  
      transform: translateX(0px);
    }
}