<div [ngClass]="!isAI ? 'chat-message' : 'chat-message-ai'">
    <p class="user-type">Search Term</p>
    <p>{{message}}</p>
    <img src="{{imageDataURL}}">
    <ion-buttons slot="start">
        <ion-button (click)="downloadImage(imageDataURL)">
            <ion-icon slot="start" name="download-outline"></ion-icon>
            Download
        </ion-button>

        <!-- <a href="../../assets/images/purple_anime_wolf.png" download="purple_anime_wolf">Download</a> -->
    </ion-buttons>
    <ion-buttons slot="end">
        <p style="color: #999;">{{date}}</p>
    </ion-buttons>
</div>